body {
    font-family: arial;
    font-size: 12px;
}

button {
    cursor: pointer;
    height: 2em;
    width: 6em;
}

input {
    width: 12em;
    height: 1.5em;
    padding: .5em;
}

.place {
    width: 8em;
}

.lunch {
    width: 2em;
}

.container {
    display: flex;
}

.container>* {
    margin-right: .2em;
}

.timewrap {
    position: relative;
}

.timewrap button {
    position: absolute;
    height: 1.3em;
    width: 2em;
    right: 0.05em;
    display: inline-block;
    border: solid gray 1px;
}

.timewrap button:hover {
    background: gray;
}

.timewrap button:active {
    background: #666;
}

.timewrap button span {
    font-size: 0.9em;
    position: absolute;
    top: 0.1em;
    left: 0.6em;
    color: #333;
}

.timewrap .up {
    top: 0.1em;
}

.timewrap .down {
    top: 1.4em;
}

tr, td {
    border: solid black 1px;
}

.blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        background: white;
    }

    50% {
        background: white;
    }

    50.01% {
        background: #eee;
    }

    100% {
        background: #eee;
    }
}

.data {
    border-collapse: collapse;
    border: solid black 1px;
    margin-top: 2em;
}

.data td {
    padding: .5em
}

.data tr.high {
    background-color: lightyellow;
}

.button {
    margin-top: .5em;
}

.data .del {
    cursor: pointer;
    text-align: center;
    display: block;
}

.data .del img {
    width: 1em;
}

#sheet{
    height:2em;
}

.checkbox{
    width:initial;
}

button.highlight{
    background:darkblue;
    color:white;
    border:0;
    outline:0;
}