body {
    font-family: arial;
    font-size: 12px;
}

button {
    cursor: pointer;
    height: 2em;
    width: 6em;
}

input {
    width: 16em;
    font-size: 2em;
    padding: 0.3em;
    height: 47px;
}

.place {
    width: 8em;
}

.lunch {
    width: 2em;
}

.container {
    display: flex;
}

.container>* {
    margin-right: .2em;
}

.timewrap {
    position: relative;
}

.timewrap button {
    position:absolute;
    height: 33px;
    width: 35px;
    display: inline-block;
}

.timewrap >div{
    position:absolute;
    top:0;
}

.timewrap .a{
    right: 103px;
}

.timewrap .b{
    right: 69px;
}

.timewrap .c{
    right: 35px;
}

.timewrap button:hover {
    background: gray;
}

.timewrap button:active {
    background: #666;
}

.timewrap button span {
    font-size: 1.2em;
    position: absolute;
    top: 0.3em;
    left: 0.4em;
    color: #333;
}

.timewrap .up {
    top: 0;
}

.timewrap .down {
    top: 32px;
}

tr, td {
    border: solid black 1px;
}

.blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        background: white;
    }

    50% {
        background: white;
    }

    50.01% {
        background: #eee;
    }

    100% {
        background: #eee;
    }
}

.data {
    border-collapse: collapse;
    border: solid black 1px;
    margin-top: 2em;
}

.data td {
    padding: .5em
}

.data tr.high {
    background-color: lightyellow;
}

.button {
    margin-top: .5em;
}

.data .del {
    cursor: pointer;
    text-align: center;
    display: block;
}

.data .del img {
    width: 1em;
}

#sheet{
    height:2em;
}

.checkbox{
    width:initial;
}

button.highlight{
    background:darkblue;
    color:white;
    border:0;
    outline:0;
}

.timebg{
    background:bisque;
}